.principal__projetos {
	width: 100vw;
	margin-top: 2rem;

	background-image: linear-gradient(112deg,
		hsl(330.3, 50.75%, 39.02%) 0%,
		hsl(328.77, 49.47%, 39.1%) 8.1%,
		hsl(324.23, 46.01%, 39.3%) 15.8%,
		hsl(316.32, 41.02%, 39.48%) 23.1%,
		hsl(303.78, 35.01%, 39.57%) 30%,
		hsl(287.01, 33.49%, 42.55%) 36.6%,
		hsl(271.76, 33.45%, 46.44%) 43%,
		hsl(258.19, 33.72%, 50.23%) 49.2%,
		hsl(246.05, 38.9%, 53.81%) 55.3%,
		hsl(235.42, 46.41%, 55.54%) 61.3%,
		hsl(227.94, 55.76%, 55.03%) 67.4%,
		hsl(222.57, 64.08%, 54.07%) 73.5%,
		hsl(218.46, 71.06%, 52.63%) 79.8%,
		hsl(215.16, 76.47%, 50.68%) 86.3%,
		hsl(212.4, 86.22%, 48.18%) 93%,
		hsl(210, 100%, 45.1%) 100%);

	&--titulo {
		color: #fff;
		font-size: 4rem;
		text-align: center;
		padding-top: 2rem;
	}

	&--lista {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 auto;

		.item {
			width: 29.33%;
			height: 29.33%;
			margin: 1rem 1rem;

			figure {
				text-align: center;
				display: flex;
				flex-direction: column;
				transition: all .4s;

				img {
					max-width: 100%;
					height: 170px;
					border-radius: 10px;
				}

				&:hover {
					transform: scale(1.2);
					z-index: 2;
				}

				figcaption {
					margin-top: .6rem;
				}
			}

			a {
				text-decoration: none;
				color: #fff;
				font-size: 1.2rem;
				text-align: center;
			}
		}
	}

	@media (max-width: 995px) {
		&--lista {
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			.item {
				width: 50%;
			}

			&:hover {
				transform: scale();
			}
		}
	}

	@media (max-width: 635px) {
		&--lista {
			.item {
				width: 85%;
			}
		}
	}
}