.principal {
	margin-top: 0rem;

	.quem-sou {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;

		&--titulo {
			font-size: 4rem;
			margin: 1rem 0;
		}

		&__perfil {
			display: flex;
			flex-direction: column;
			align-items: center;

			&--foto {
				width: 16rem;
				height: 16rem;
				margin-bottom: 2rem;
				background: $perfil-image no-repeat;
				background-size: cover;
				border-radius: 50%;
			}

			&--apresentacao {
				font-size: 1.3rem;
				text-indent: 3rem;
				//justify-content: justify;
				margin-bottom: 2rem;
			}
		}

		@media(max-width:635px) {
			&--titulo {
				font-size: 3rem;
			}

		}
	}
}